.machineStatus {
    height: 35px;
}

.disconnected {
    background-color: #8C0014;
}

.connected {
    background-color: #22C55E;
}

.card {
    border-radius: 16px;
}

.toggler {
    padding-left: 11.5rem;
}